<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139903134816-e5mbb114mub4f05cq74qhq2kdv8vj0rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139903134816-e5mbb114mub4f05cq74qhq2kdv8vj0rk</string>
	<key>API_KEY</key>
	<string>AIzaSyCHZ_Ti3xORDhW7eeIJUC3cr9I23ba8sbE</string>
	<key>GCM_SENDER_ID</key>
	<string>139903134816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rideosoftware.admob-plus-test</string>
	<key>PROJECT_ID</key>
	<string>admob-plus-test</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-plus-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139903134816:ios:b5960e4d188ec04d016705</string>
</dict>
</plist>